services:
  db:
    image: postgres:17
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${Username}
      POSTGRES_PASSWORD: ${POSTGRESPASSWORD}
      POSTGRES_DB: ${POSTGRESDB}
    volumes:
      - ${POSTGRESDBFILE}:/docker-entrypoint-initdb.d/init.sql

  app:
    image: nano-backup-website
    container_name: nano-backup-website
    depends_on:
      - db
    environment:
      - ConnectionString=${ConnectionString}
      - CertPath=${CertPath}
      - CertPassword=${CertPassword}
    volumes:
      - ${CertPath}:/Nano-Backup/Certification
      - ${FileDir}:/Class Backups
    ports:
      - ${OutputPort}:443

volumes:
  pgdata:
