.error-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 20px;
}

.error-content {
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border-radius: 20px;
}

.error-button {
    height: 3em;
    width: 9em;
    border-radius: 20px;
    background-color: #222222;
    color: white;
}