@using NanoBackupWebsite
@rendermode InteractiveServer
@inject FileNavigatorService NavService
@inject NavigationManager Nav

<div>
	<div class="navigation-bar">
		<img src="backbtn.svg" class="btn" alt="Back" @onclick="GoBack" />
		<img src="home.svg" class="btn" alt="Home" @onclick="GoHome" />
		@FullPath
	</div>
	<div class="file-view">
		<div class="header">
			<div class="header-img">
				<img style="width:50%" src="document.svg" alt="Folder Icon" />
			</div>
			<p class="header-text" style="flex:4">
				Name
			</p>

			<p class="header-text">
				Size
			</p>
			<p class="header-text">
				Download
			</p>

		</div>

		@foreach (var file in Files)
		{
			<FileItem File="file" OnFolderClick="HandleFolderNavigation" />
		}

	</div>

</div>

@code {

	private string FullPath = "";

	private BackupFile[] Files;

	protected override async Task OnInitializedAsync()
	{
		Files = NavService.CurrentFiles.ToArray();
	}

	private void GoHome()
	{
		NavService.GoHome();
		Update();
	}

	private void GoBack()
	{
		NavService.GoBack();
		Update();
	}

	private void Update()
	{
		Files = NavService.CurrentFiles.ToArray();
		FullPath = NavService.FullPath;
	}

	private void HandleFolderNavigation(BackupFile file)
	{
		if (file.IsFile)
		{
			string safePath = Uri.EscapeDataString(NavService.FullPath);
			string safeName = Uri.EscapeDataString(file.Name);

			Nav.NavigateTo($"/api/download?fullPath={safePath}&fileName={safeName}", forceLoad: true);
			return;
		}
		
		NavService.NavigateFolder(file);
		Update();
	}
}