body {
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    gap: 5px;
    color: white;
    font-size: 28px;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #171717;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    align-items: center;
    color: white;
}

.header-img {
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.header-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 28px;
    height: 100%;
    margin:0;
}

.file-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    align-content: center;
}

.btn {
    will-change: filter;
    transition: filter 300ms;
    height: 6em;
}

    .btn:hover {
        filter: drop-shadow(0 0 2em #ffffff);
    }
