<div class="header">
	<div class="header-img">
		<img style="width:50%" src="document.svg" alt="Folder Icon" />
	</div>
	<p class="header-text" style="flex:4">Name</p>
	<p class="header-text">Size</p>
	<p class="header-text">Download</p>
</div>

@code {

}
