body {
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    gap: 5px;
    color: white;
    font-size: 28px;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #171717;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    align-items: center;
    color: white;
}

.header-img {
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 6em;
}

.header-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 28px;
    height: 100%;
    margin: 0;
}

.file-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    align-content: center;
}

.btn {
    will-change: filter;
    transition: filter 300ms;
    height: 6em;
    width: 6em;
}

    .btn:hover {
        filter: drop-shadow(0 0 2em #ffffff);
    }

.error-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 20px;
}

.error-content {
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border-radius: 20px;
}

.main-container {
    position: relative;
    width: 100%;
    min-height: 200px;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.error-button{
    height: 3em;
    width: 9em;
    border-radius: 20px;
    background-color: #222222;
    color: white;
}