
.folder-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    gap: 5px;
    color: white;
    background-color: #111111;
}

.folder-item-text {
    display: flex;
    flex: 1;
    justify-content: left;
    align-content: center;
    text-shadow: 0px 0px 10px #000000;
    font-size:20px;
    margin:0;
}

.folder-item-image {
    display: flex;
    flex: 1;
    text-align: left;
    justify-content: center;
    align-content: center;
    text-shadow: 0px 0px 10px #000000;
    height: 6em;
    width: 6em;
}

.folder-item:hover {
    background-color: #222222;
    cursor: pointer;
}
