.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    gap: 5px;
    color: white;
    font-size: 28px;
}

.file-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    align-content: center;
}

.btn {
    will-change: filter;
    transition: filter 300ms;
    height: 6em;
    width: 6em;
}

    .btn:hover {
        filter: drop-shadow(0 0 2em #ffffff);
    }

.main-container {
    position: relative;
    width: 100%;
    min-height: 200px;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}