<link rel="stylesheet" href="shared.css" />

<div class="center-text">

	<div class="sections">
		<Stats />
	</div>

	<div class="sections">
		<h2> Class Notes and Resources Hosted by MrDNAlex </h2>
		Contact me to Contribute classes to the Website or for Questions, Concerns, Issues or Suggestions: a3dufres@uwaterloo.ca or 249-591-8124 <br />
	</div>

	<div class="sections">
		<h2>Website Info and Patch Notes</h2>
		<p>
			Website Version v1.0.0 - Jan 18 2026 <br />
			v0.1.3 - May 22 2025 - Added Organized Version of NE 336. Missing Files were added and Course Organized. Removed some overprotective rules <br />
			v0.1.4 - Jun 03 2025 - Added Raspberry Pi 4 Docker Build Support <br />
			v0.1.5 - Jun 03 2025 - Made Table Text Larger, Added Alert Popup for Files Larger than 1 GB. It will warn that files may take more than 1 Min to start Downloading, Moving Webiste to Raspberry Pi for the Week <br />
			v0.1.6 - Sep 07 2025 - Removed the outdated Raspberry Pi 4 Message, Moved website hosting to Waterloo apartment on a dedicated Mini PC<br />
			v0.1.7 - Oct 20 2025 - Added 1A Folder with NE 121 Assessments with Answers, added What's App number for Class Contributions<br />
			v0.1.8 - Nov 11 2025 - Added Software Folder with a few Windows Softwares that are used in Class<br />
			v0.2.0 - Dec 28 2025 - Improved Website by remaking it in Blazor/DotNet/C#<br />
      v0.2.1 - Dec 30 2025 - Substantially Reduced the size of the Docker Container hosting the website<br />
			v1.0.0 - Jan 18 2026 - Upgraded Backend to use Postgres SQL, Added Better File Visibility and Download Capabilities<br />
		</p>
	</div>
</div>