<link rel="stylesheet" href="shared.css" />

<div class="center-text">
    <h1> Nano Technology Engineering Class Backups </h1>
    <h3>Be Mindful and Respectful of the following:</h3>
    <p>
        1. Please do not share these files with anyone outside of the class. Ask before sharing. <br />
        2. Please do not use these files for commercial purposes. <br />
    </p>
</div>

